<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form method="post">{% csrf_token %}
	<table>
    	<tr><th>Title</th><th>Create At</th><th>Update At</th><th>Public</th><th>Category Name</th><th>Description</th></tr>
    	<tr>
    		{% for field in productForm %}
    	 	<td>
			    <div class="fieldWrapper">
			        {{ field.errors }}
			         {{ field }}
			        {% if field.help_text %}
			        <p class="help">{{ field.help_text|safe }}</p>
			        {% endif %}
			    </div>
			 </td>
		    {% endfor %}
    	</tr>
	</table>
    <input type="submit" value="Submit" />
</form>

</body>
</html>